body {
	font-family: "Microsoft YaHei UI","Microsoft YaHei",arial,sans-serif;
	background: #202228 url("/static/error/diagonal-stripes-010.png");
	color: #989EAE;
    font-size: 13px;
}

::selection { background: #fe57a1; color: #fff; text-shadow: none; }

#container {
	margin: 30px auto;
	width: 960px;
}

#header{
	margin: 30px 30px 20px 30px;
	position: relative;
}

#header img {
    border: 0;
	width: 200px;
	height: 73px;
}

#main-wrap {
	text-align: center;
    margin: 0 15px;
}

#main-wrap img {
    border: 0;
	width: 880px;
	height: 660px;
}

#colophon {
	margin-top: 50px;
}

#colophon .border {
	background: url("/static/error/whitetrans.png");
	margin-bottom: 5px;
	height: 1px;
}

#colophon .copyright {
	text-align: center;
}

a {
    text-decoration: none;
    color: #989EAE;
}

a:hover {
    color: white;
}